:root {
    --blue: #007FB1;
    --main-green: #009F8C;
    --orange: #DA5019;
    --purple: #744199;
    --sub-green: #23AC0E;
    --white: #fff;
    --yellow: #EDAD0B;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-green);
    color: var(--white);
    height: 48px;
    width: 100%;
}

#site_title {
    display: inline-block;
    line-height: 48px;
    padding: 0 16px;
}