<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/base.css">
    <title>Not secure ips and users</title>
</head>
<body>
    <header>
        <div id="site_title">Not secure ips and users</div>
    </header>
    <main>
        <table id="logs_table">
        {% for log in logs %}
        <tr>
        <td>{{log.from_ip}}</td>
        <td>{{log.username}}</td>
        <td>{{log.accessed_at.strftime('%m/%d %H:%M:%S')}}</td>
        </tr>
        {% endfor %}
        </table>
    </main>
</body>
</html>